button {
  font-family: 'Inter', sans-serif;
}

.logo {
  height: 140px;
}

.credsLogos {
  margin-right: 12px;
}

input {
  border: none;
  border-bottom: solid rgb(197, 197, 197) 1px;
}

input::placeholder {
  color: rgb(231, 231, 231);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 85%;
  background-color: #FFF;
  border-radius: 15px;
}

.forgot {
  color: #44692B;
}

.loginButton {
  background-color: #44692B;
  color: #FFF;
  border: none;
  width: 75%;
  border-radius: 20px;
  padding: 4px 0;
  margin-bottom: 5px;
}

.signupButton {
  background-color: #F3F6EB;
  color: #44692B;
  border: none;
  width: 75%;
  border-radius: 20px;
  padding: 4px 0;
}

.or {
  color: #44692B;
}

.icon {
  margin: 5px;
}